* {
    cursor: default;
}

html, body {
    height: 100%;
    font-family: verdana,arial,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:focus
{
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after, .column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after, .column:after {
    clear: both;
}

.column {
    overflow: auto;
    *zoom: 1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

#main {
    background-image: url('../img/background.png');
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

.center {
    text-align: center;
}

.nav {
    font-family: Arial,sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #444;
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-nav > li > a {
    color: #fff;
}

#sidebar {
    padding: 0px;
    padding-top: 50px;
    padding-left: 0px;
    background: #444; /* Fallback for Browsers which don't support gradients */
    background: -webkit-linear-gradient(#444, #333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #333); /* Standard syntax */
    height: 100%;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color: #ffffff;
	text-shadow: 0 0 2px #000000;
    padding-left: 0px;
}

#sidebar a {
    padding-left: 20px;
}

#sidebar .nav li > a:hover {
    background-color: #393939;
}

#sidebar-footer {
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    width: 100%;
}

/* bootstrap overrides */

h1, h2, h3 {
    font-weight: 800;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.form-control {
	cursor: text;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {
    .column .padding {
        padding: 7px;
    }
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left: 3px;
    }
}

.hardware-info {
    padding-bottom: 10px;
}
